.about {
	@extend %site-wrapper;

	position: relative;
	padding: rem-calc(40px) rem-calc(14px) rem-calc(80px);
	color: $color-mediumgray;

	@include media('>phone') {
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: space-between;
	}

	@include media('>phone-small') {
		padding: rem-calc(35px) rem-calc(60px) rem-calc(80px);
	}

	@include media('>tablet') {
		padding: rem-calc(45px) rem-calc(100px) rem-calc(100px);
	}

	@include media('>desktop-small') {
		padding: rem-calc(56px) rem-calc(140px) rem-calc(140px);
	}

	@include media('>desktop-medium') {
		padding: rem-calc(76px) rem-calc(180px) rem-calc(160px);
	}

	@include media('>desktop-large') {
		padding: rem-calc(96px) rem-calc(260px) rem-calc(180px) rem-calc(268px);
	}

	.about-decoration {
		@extend %text-decoration--left;

		@include media('<=phone') {
			top: rem-calc(400px);
			left: 98%;
		}

		@include media('<=470px') {
			left: 96.5%;
		}

		@include media('>phone') {
			top: rem-calc(8px);
		}

		@include media('>tablet') {
			top: rem-calc(10px);
		}

		@include media('>desktop-medium') {
			top: rem-calc(12px);
		}

		&__label {
			@extend %text-decoration__label--light;

			&-inner {
				@extend %text-decoration__label-inner--light;
			}
		}

		&__number {
			@extend %text-decoration__number--light;
		}
	}

	.about-content {
		@extend %mobile-max-wrapper;

		position: relative;
		z-index: 2;

		@include media('>phone') {
			width: 35%;
		}

		@include media('>tablet') {
			width: 30%;
		}

		@include media('>desktop-small') {
			width: 26%;
		}

		&__picture {
			@extend %site-picture;
			@include ratio(293, 338);

			width: 100%;
			max-height: rem-calc(350px);
			margin-bottom: rem-calc(40px);

			@include media('>phone') {
				max-height: none;
			}

			@include media('>tablet') {
				margin-bottom: rem-calc(60px);
			}

			@include media('>desktop-small') {
				margin-bottom: rem-calc(80px);
			}
		}

		&__image {
			@extend %image__cover;
		}

		.about-header {
			margin-bottom: rem-calc(28px);

			&__subtitle {
				@extend %header__subtitle--dark;

				@include media('>desktop-small') {
					margin-bottom: rem-calc(18px);
				}

				@include media('>desktop-medium') {
					margin-bottom: rem-calc(22px);
				}

				@include media('>desktop-large') {
					margin-bottom: rem-calc(26px);
				}
			}

			&__title {
				@extend %header__title--dark;

				@include media('>tablet') {
					margin-bottom: rem-calc(20px);
				}

				@include media('>desktop-small') {
					margin-bottom: rem-calc(28px);
				}

				@include media('>desktop-medium') {
					margin-bottom: rem-calc(34px);
				}

				@include media('>desktop-large') {
					margin-bottom: rem-calc(42px);
				}
			}
		}

		&__featured {
			@extend %content__featured--dark;
			margin-bottom: rem-calc(10px);

			@include media('>phone') {
				margin-bottom: rem-calc(14px);
			}

			@include media('>tablet') {
				margin-bottom: rem-calc(18px);
			}

			@include media('>desktop-small') {
				margin-bottom: rem-calc(22px);
			}

			@include media('>desktop-medium') {
				margin-bottom: rem-calc(26px);
			}
		}

		&__text {
			margin-bottom: rem-calc(26px);

			@include media('>phone') {
				margin-bottom: 0;
			}
		}
	}

	.about-cards {
		@extend %mobile-max-wrapper;

		@include media('>phone') {
			display: flex;
			align-content: center;
			align-items: center;
			justify-content: space-between;
			flex-wrap: wrap;
			width: 56%;
			padding-top: rem-calc(20px);
		}

		@include media('>desktop-small') {
			padding-top: rem-calc(40px);
		}

		@include media('>desktop-medium') {
			padding-top: rem-calc(40px);
		}

		.card-item {
			@include media('>phone') {
				width: 45%;
			}

			@include media('>desktop-small') {
				width: 47%;
				margin-bottom: rem-calc(52px);
			}

			@include media('>desktop-medium') {
				margin-bottom: rem-calc(66px);
			}

			@include media('>desktop-large') {
				margin-bottom: rem-calc(84px);
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.card-item {
	position: relative;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-left: 5px;
	padding-right: rem-calc(35px);
	margin-bottom: rem-calc(44px);

	@include media('>phone') {
		align-content: flex-start;
		align-items: flex-start;
		justify-content: flex-start;
		flex-direction: column;
		flex-wrap: nowrap;
		padding-left: 0;
		padding-right: 0;
	}

	&-decoration {
		@extend %text-decoration__large--right;

		top: rem-calc(84px);
		right: rem-calc(34px);
		z-index: 1;

		@include media('>phone') {
			top: 77%;
			right: 100%;
		}

		@include media('>desktop-small') {
			top: 87%;
		}

		&__text {
			@extend %text-decoration__large-label--light;

			font-size: rem-calc(42px);

			@include media('>tablet') {
				font-size: rem-calc(46px);
			}

			@include media('>desktop-small') {
				font-size: rem-calc(48px);
			}

			@include media('>desktop-medium') {
				font-size: rem-calc(52px);
				letter-spacing: 4.7px;
			}

			@include media('>desktop-large') {
				font-size: rem-calc(56px);
			}
		}
	}

	&__icon {
		position: relative;
		z-index: 2;
		order: 2;
		width: rem-calc(46px);
		height: rem-calc(46px);

		@include media('>phone') {
			order: 1;
			margin-bottom: rem-calc(12px);
		}

		@include media('>desktop-small') {
			width: rem-calc(56px);
			height: rem-calc(56px);
			margin-bottom: rem-calc(18px);
		}
	}

	&__title {
		position: relative;
		z-index: 2;
		font-size: rem-calc(19px);
		font-family: $font-druk-wide;
		letter-spacing: 0.53px;
		color: $color-lightgray;
		order: 1;

		@include media('>phone') {
			order: 2;
		}

		@include media('>desktop-small') {
			font-size: rem-calc(22px);
			margin-bottom: rem-calc(18px);
		}

		@include media('>desktop-large') {
			font-size: rem-calc(28px);
		}

		@include media('>desktop-large') {
			font-size: rem-calc(32px);
			margin-bottom: rem-calc(24px);
		}
	}

	&__content {
		position: relative;
		z-index: 2;
		width: 100%;
		order: 3;
		font-size: rem-calc(12px);
		margin-top: 5px;

		@include media('>tablet') {
			font-size: rem-calc(14px);
			letter-spacing: 0.53px;
		}
	}
}
