// Placeholders
%footer__mobile-max {
	width: 100%;
	max-width: rem-calc(500px);
	margin-left: auto;
	margin-right: auto;
	color: $color-white;

	@include media('>phone') {
		max-width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
}

// Footer Wrapper
.footer {
	position: relative;
	z-index: 6;
	background-color: $color-licorice;
	padding: rem-calc(70px) rem-calc(22px);

	@include media('>phone') {
		padding: rem-calc(60px) rem-calc(20px);
	}

	@include media('>tablet') {
		padding: rem-calc(65px) rem-calc(60px);
	}

	@include media('>desktop-small') {
		padding: rem-calc(70px) rem-calc(120px);
	}

	@include media('>desktop-medium') {
		padding: rem-calc(75px) rem-calc(200px);
	}

	@include media('>desktop-large') {
		padding: rem-calc(85px) rem-calc(300px) rem-calc(70px);
	}

	&::before,
	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		height: rem-calc(400px);

		@include media('>525px') {
			height: rem-calc(375px);
		}

		@include media('>phone') {
			width: 40%;
			max-width: rem-calc(900px);
			height: 100%;
		}
	}

	&::before {
		background-image: url(../images/footer/bg.jpg);
		background-position: left center;
		background-repeat: no-repeat;
		background-size: rem-calc(550px);

		@include media('>525px') {
			background-size: cover;
		}

		@include media('>phone') {
			opacity: 0.85;
		}
	}

	&::after {
		z-index: 2;
		background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(37,37,37,0.97) 90%,rgba(37,37,37,1) 98%,rgba(37,37,37,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#252525',GradientType=0 );

		@include media('>phone') {
			background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(37,37,37,0.97) 90%,rgba(37,37,37,1) 95%,rgba(37,37,37,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#252525',GradientType=1 );
		}
	}

	&__inner {
		position: relative;
		z-index: 3;
		width: 100%;
		max-width: rem-calc(1320px);
		margin-left: auto;
		margin-right: auto;
	}

	&__main,
	&__navigation {
		width: 100%;
	}

	&__main {
		@include media('>phone') {
			display: flex;
			align-items: flex-start;
			align-content: flex-start;
			justify-content: space-between;
			margin-bottom: rem-calc(52px);
		}

		@include media('>tablet') {
			margin-bottom: rem-calc(64px);
		}

		@include media('>desktop-small') {
			margin-bottom: rem-calc(74px);
		}

		@include media('>desktop-medium') {
			margin-bottom: rem-calc(82px);
		}

		@include media('>desktop-large') {
			margin-bottom: rem-calc(94px);
		}

		&-company {
			@include media('>phone') {
				width: 25%;
			}

			@include media('>tablet') {
				width: 21%;
			}
		}

		&-links {
			@include media('>phone') {
				width: 75%;
				padding-left: rem-calc(30px);
			}

			@include media('>tablet') {
				width: 79%;
				padding-left: rem-calc(40px);
			}

			@include media('>desktop-small') {
				padding-left: rem-calc(60px);
			}

			@include media('>desktop-medium') {
				padding-left: rem-calc(80px);
			}

			@include media('>desktop-large') {
				padding-left: rem-calc(100px);
			}
		}
	}
}

// Footer Company
.footer-company {
	@extend %footer__mobile-max;

	text-align: center;
	margin-bottom: rem-calc(68px);

	@include media('>phone') {
		text-align: left;
		margin-bottom: 0;
	}

	&__logo {
		display: block;
        width: 100%;
        max-width: rem-calc(225px);
		margin-left: auto;
		margin-right: auto;
		margin-bottom: rem-calc(20px);

		@include media('>phone') {
			margin-left: 0;
			margin-bottom: rem-calc(10px);
			margin-top: rem-calc(9px);
		}

		@include media('>tablet') {
			margin-top: rem-calc(12px);
		}

		@include media('>desktop-large') {
			margin-top: rem-calc(16px);
		}
	}

	&__copyright {
		display: block;
		margin-bottom: rem-calc(32px);
    font-weight: bold;
		font-size: rem-calc(12px);
		letter-spacing: 0.85px;
		text-transform: uppercase;

		@include media('>tablet') {
			margin-bottom: rem-calc(36px);
		}

		@include media('>desktop-small') {
			margin-bottom: rem-calc(40px);
		}
	}

	&__info {
		font-size: rem-calc(12px);
		font-weight: 300;
		line-height: 1.5;
		letter-spacing: 0.45px;
		margin-bottom: rem-calc(32px);

		@include media('>tablet') {
			margin-bottom: rem-calc(36px);
		}

		@include media('>desktop-small') {
			margin-bottom: rem-calc(40px);
		}
	}

	&__cta {
		@extend %site-button--underscored;
	}
}

// Footer Services
.footer-services {
	@extend %footer__mobile-max;

	margin-bottom: rem-calc(66px);

	@include media('>phone') {
		margin-bottom: rem-calc(20px);
	}

	@include media('>tablet') {
		margin-bottom: rem-calc(26px);
	}

	@include media('>desktop-small') {
		margin-bottom: rem-calc(32px);
	}

	&__header {
		@extend %strikethrough-header;

		text-align: center;
		margin-bottom: rem-calc(16px);

		@include media('>phone-small') {
			display: flex;
			align-self: center;
			align-items: center;
			justify-content: space-between;
		}

		@include media('>phone') {
			margin-bottom: rem-calc(20px);
		}

		@include media('>tablet') {
			margin-bottom: rem-calc(24px);
		}

		@include media('>desktop-small') {
			margin-bottom: rem-calc(28px);
		}

		&-title {
			@extend %strikethrough-header__title;

			@include media('>phone-small') {
				padding-left: 0;
			}
		}

		&-link {
			@extend %strikethrough-header__link;

			display: none;

			@include media('>phone-small') {
				display: inline-block;
				padding-right: 2px;
			}
		}
	}


	&__list {
    @include media('>phone') {
      display: flex;
      justify-content: space-between;
    }

		&-item {
			@extend %arrow-block-button;

			margin-bottom: rem-calc(14px);

			@include media('>phone') {
				margin-bottom: 0;
				width: calc(33.333% - 10px);
				margin-left: 5px;
				margin-right: 5px;
			}

			@include media('>desktop-small') {
				width: calc(33.333% - 26px);
				margin-left: rem-calc(13px);
				margin-right: rem-calc(13px);
				min-height: rem-calc(75px);
			}

			&:first-child {
				@include media('>phone') {
					margin-left: 0;
				}
			}

			&:last-child {
				@include media('>phone') {
					margin-right: 0;
				}
			}
		}

		&-link {
			@extend %arrow-block-button__link;

			&:before,
			&:after {
				@include media('>phone', '<=tablet') {
					display: none;
				}
			}
		}

		&-icon {
			@extend %arrow-block-button__icon;
		}

		&-label {
			@extend %arrow-block-button__label;
		}
	}

	&__cta {
		@extend %site-button;

		width: 100%;
		margin-top: rem-calc(30px);

		@include media('>phone') {
			display: none;
		}
	}
}

// Footer Brands
.footer-brands {
	@extend %footer__mobile-max;

	margin-bottom: rem-calc(80px);

	@include media('>phone') {
		margin-bottom: 0;
	}

	&__header {
		@extend %strikethrough-header;

		text-align: center;
		margin-bottom: rem-calc(16px);

		@include media('>phone-small') {
			text-align: left;
		}

		@include media('>phone') {
			margin-bottom: rem-calc(20px);
		}

		@include media('>tablet') {
			margin-bottom: rem-calc(24px);
		}

		@include media('>desktop-small') {
			margin-bottom: rem-calc(28px);
		}

		&-title {
			@extend %strikethrough-header__title;

			@include media('>phone-small') {
				padding-left: 0;
			}
		}
	}

	&__list {
		@include media('>phone') {
			display: flex;
			align-content: stretch;
			align-items: stretch;
			justify-content: space-between;
		}

		&-item {
			@extend %arrow-block-button;

			display: flex;
			align-items: stretch;
			align-content: stretch;
			justify-content: center;
			min-height: rem-calc(60px);
			margin-bottom: rem-calc(14px);

			@include media('>phone') {
				margin-bottom: 0;
				width: calc(50% - 10px);
				margin-left: 5px;
				margin-right: 5px;
			}

			@include media('>desktop-small') {
				width: calc(50% - 26px);
				margin-left: rem-calc(13px);
				margin-right: rem-calc(13px);
				min-height: rem-calc(75px);
			}

			&:first-child {
				@include media('>phone') {
					margin-left: 0;
				}
			}

			&:last-child {
				@include media('>phone') {
					margin-right: 0;
				}
			}
		}

		&-link {
			@extend %arrow-block-button__link;

			@include media('>phone') {
				justify-content: center;
				padding-left: rem-calc(15px);
				padding-right: rem-calc(15px);
			}
		}

		&-logo {
			width: rem-calc(90px);

			@include media('>desktop-medium') {
				width: rem-calc(113px);
			}
		}
	}
}

// Footer Navigation
.footer-navigation {
	@extend %footer__mobile-max;

	text-align: center;

	@include media('>phone') {
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: space-between;
	}

	&__main {
		margin-bottom: rem-calc(62px);

		@include media('>phone') {
			order: 2;
			margin-bottom: 0;
		}
	}

	&__list {
		@include media('>phone') {
			display: flex;
			align-content: center;
			align-items: center;
			justify-content: space-between;
		}

		@include media('>tablet') {
			margin-left: rem-calc(10px);
		}

		@include media('>desktop-small') {
			margin-left: rem-calc(20px);
		}

		@include media('>desktop-medium') {
			margin-left: rem-calc(30px);
		}

		@include media('>desktop-large') {
			margin-left: rem-calc(40px);
		}

		&-item {
			margin-bottom: rem-calc(26px);

			@include media('>phone') {
				margin-bottom: 0;
				margin-left: 7px;
				margin-right: 7px;
			}

			@include media('>849px') {
				margin-left: rem-calc(10px);
				margin-right: rem-calc(10px);
			}

			@include media('>tablet') {
				margin-left: rem-calc(18px);
				margin-right: rem-calc(18px);
			}

			@include media('>desktop-small') {
				margin-left: rem-calc(24px);
				margin-right: rem-calc(24px);
			}

			@include media('>desktop-medium') {
				margin-left: rem-calc(32px);
				margin-right: rem-calc(32px);
			}

			&:first-child {
				@include media('>phone') {
					margin-left: 0;
				}
			}

			&:last-child {
				margin-bottom: 0;

				@include media('>phone') {
					margin-right: 0;
				}
			}
		}
	}

	&__link {
		font-family: $font-druk-wide;
		font-size: rem-calc(14px);
		letter-spacing: 1.32px;
		text-transform: uppercase;

		@include media('>phone') {
			font-size: 8px;
		}

		@include media('>849px') {
			font-size: rem-calc(9px);
		}
	}

	.social-links {
		margin-bottom: rem-calc(58px);
		margin-left: rem-calc(14px);

		@include media('>phone') {
			order: 1;
			margin-left: 0;
			margin-bottom: 0;
		}
	}

	&__to-top {
		@extend %site-button--hollow;

		@include media('>phone') {
			order: 3;
		}

		&::after {
			transform: rotate(-135deg);
			top: calc(50% - 3px);
			right: rem-calc(14px);
		}
	}
}
