.hero {
	@extend %content__area--dark;

	position: relative;
	background-image: url(../images/hero/bg.jpg);
	background-size: rem-calc(1150px);
	background-position: center top;
	background-repeat: no-repeat;
	overflow: hidden;

	@include media('>phone-small') {
		background-size: 100%;
	}

	&__wrapper {
		@extend %site-wrapper;
		position: relative;
		padding-top: rem-calc(61px);
		padding-bottom: rem-calc(64px);

		@include media('>phone-small') {
			display: flex;
			align-content: center;
			align-items: center;
			justify-content: space-between;
			flex-direction: row-reverse;
			padding: rem-calc(90px) rem-calc(80px) rem-calc(80px) rem-calc(60px);
		}

		@include media('>phone') {
			padding: rem-calc(100px) rem-calc(120px) rem-calc(90px) rem-calc(100px);
		}

		@include media('>tablet') {
			padding: rem-calc(140px) rem-calc(200px) rem-calc(110px) rem-calc(180px);
		}

		@include media('>desktop-small') {
			padding: rem-calc(160px) rem-calc(280px) rem-calc(130px) rem-calc(240px);
		}

		@include media('>desktop-medium') {
			padding: rem-calc(180px) rem-calc(320px) rem-calc(150px) rem-calc(300px);
		}

		@include media('>desktop-large') {
			padding: rem-calc(200px) rem-calc(400px) rem-calc(175px) rem-calc(368px);
		}
	}

	&-large-decoration {
		@extend %text-decoration__large--right;

		position: absolute;
		top: rem-calc(750px);
		right: rem-calc(26px);
		z-index: 1;

		@include media('>phone-small') {
			top: rem-calc(506px);
		}

		@include media('>phone') {
			top: rem-calc(520px);
			right: rem-calc(20px);
		}

		@include media('>tablet') {
			top: rem-calc(566px);
			right: rem-calc(48px);
		}

		@include media('>desktop-small') {
			top: rem-calc(640px);
			right: rem-calc(73px);
		}

		@include media('>desktop-medium') {
			top: rem-calc(745px);
		}

		@include media('>desktop-large') {
			top: rem-calc(818px);
			right: rem-calc(132px);
		}

		@include media('>desktop-xlarge') {
			top: rem-calc(872px);
			right: rem-calc(168px);
		}

		&__text {
			@extend %text-decoration__large-label--dark;

			font-size: rem-calc(122px);

			@include media('>phone-small') {
				font-size: rem-calc(82px);
			}

			@include media('>phone') {
				font-size: rem-calc(84px);
			}

			@include media('>tablet') {
				font-size: rem-calc(91px);
			}

			@include media('>desktop-small') {
				font-size: rem-calc(104px);
			}

			@include media('>desktop-medium') {
				font-size: rem-calc(123px);
			}

			@include media('>desktop-large') {
				font-size: rem-calc(135px);
			}

			@include media('>desktop-xlarge') {
				font-size: rem-calc(140px);
			}
		}
	}

	&__media {
		position: relative;
		z-index: 2;
		margin-bottom: rem-calc(47px);

		@include media('>phone-small') {
      display: flex;
			width: 49.6%;
			margin-bottom: 0;
		}

		&::before {
			content: "";
			position: absolute;
			top: 32.5%;
			left: 6.5%;
			z-index: 1;
			width: 83%;
			height: 41.5%;
			background-color: $color-orange;

			@include media('>phone-small') {
				top: 15.6%;
				left: -18%;
				z-index: 1;
				width: 117%;
				height: 57.5%;
			}
		}

		&-main {
			position: relative;
			z-index: 3;
			left: -8px;
			width: 60%;
			margin-left: auto;
			margin-right: auto;

			&::before,
			&::after {
				@extend %dots-pattern;

				z-index: 1;
			}

			&::before {
				top: 6%;
				left: -13%;
				width: 26%;
				height: 27%;

				@include media('>phone-small') {
					top: 21.5%;
					left: -11%;
					width: 26%;
					height: 35.5%;
				}
			}

			&::after {
				top: 68%;
				left: 90%;
				width: 21%;
				height: 40%;

				@include media('>phone-small') {
					top: 74.25%;
					left: -11%;
					width: 100%;
					height: 35.5%;
				}
			}
		}
	}

	&__picture {
		@extend %site-picture;

		&-main {
			@include ratio(347, 528);

			position: relative;
			z-index: 2;

			&::before {
				@extend %image__color-burn--right;
				z-index: 3;
			}
		}

		&-top,
		&-bottom {
			@include ratio(179, 179);
		}

		&-top {
      position: absolute;
      width: 100px;
      height: 100px;
      z-index: 3;
      right: 0;
      top: 12%;

      @include media('>desktop-small') {
        width: 130px;
        height: 130px;
        right: -26px;
        top: 50px;
      }

      @include media('>desktop-medium') {
        width: 200px;
        height: 200px;
        right: -86px;
      }

      @include media('>desktop-large') {
        right: -56px;
      }

			&::before {
				@extend %dots-pattern;

				display: none;

				@include media('>phone-small') {
					display: block;
					top: -19%;
					left: 17%;
					z-index: 1;
					width: 63%;
					height: 20%;
				}
			}
		}

    &-bottom {
      width: 100px;
      height: 100px;
      position: absolute;
      z-index: 3;
      left: 0;
      bottom: 12%;

      @include media('>desktop-small') {
        width: 130px;
        height: 130px;
        left: -46px;
        bottom: 50px;
      }

      @include media('>desktop-medium') {
        width: 200px;
        height: 200px;
        left: -86px;
      }

      @include media('>desktop-large') {
        left: -56px;
      }
    }
	}

	&__image {
		@extend %image__cover;

		z-index: 2;
	}

	&-header {
		margin-bottom: rem-calc(18px);

		@include media('>tablet') {
			margin-bottom: rem-calc(20px);
		}

		@include media('>desktop-small') {
			margin-bottom: rem-calc(22px);
		}

		@include media('>desktop-medium') {
			margin-bottom: rem-calc(24px);
		}

		@include media('>desktop-large') {
			margin-bottom: rem-calc(26px);
		}

		&__subtitle {
			@extend %header__subtitle--light;

			margin-bottom: rem-calc(20px);

			@include media('>tablet') {
				margin-bottom: rem-calc(24px);
			}

			@include media('>desktop-small') {
				margin-bottom: rem-calc(28px);
			}

			@include media('>desktop-medium') {
				margin-bottom: rem-calc(32px);
			}

			@include media('>desktop-large') {
				margin-bottom: rem-calc(40px);
			}
		}

		&__title {
			@extend %header__title--light;

			@include media('>phone-small') {
				width: 120%;
				font-size: rem-calc(24px);
			}

			@include media('>phone') {
				width: 125%;
				font-size: rem-calc(26px);
			}

			@include media('>tablet') {
				font-size: rem-calc(28px);
			}

			@include media('>desktop-small') {
				width: 130%;
				font-size: rem-calc(32px);
				line-height: 1.1;
			}

			@include media('>desktop-medium') {
				width: 140%;
				font-size: rem-calc(40px);
			}

			@include media('>desktop-large') {
				font-size: rem-calc(46px);
			}
		}
	}
	&-content {
		position: relative;
		z-index: 2;
		padding-left: rem-calc(34px);
		padding-right: rem-calc(34px);

		@include media('>phone-small') {
			width: 47%;
			padding-left: 0;
			padding-right: 0;
			margin-bottom: rem-calc(16px);
		}

		@include media('>tablet') {
			width: 45%;
			margin-bottom: rem-calc(20px);
		}

		@include media('>desktop-small') {
			width: 42%;
			margin-bottom: rem-calc(22px);
		}

		@include media('>desktop-medium') {
			width: 38%;
			margin-bottom: rem-calc(26px);
		}

		@include media('>desktop-large') {
			width: 37%;
			margin-bottom: rem-calc(30px);
		}

		@include media('>desktop-xlarge') {
			width: 33%;
		}

		&__text {
			width: 87%;
			margin-bottom: rem-calc(36px);

			@include media('>tablet') {
				margin-bottom: rem-calc(40px);
			}

			@include media('>desktop-small') {
				margin-bottom: rem-calc(50px);
			}

			@include media('>desktop-medium') {
				width: 100%;
				margin-bottom: rem-calc(60px);
			}

			@include media('>desktop-large') {
				margin-bottom: rem-calc(70px);
			}
		}

		&__button {
			@extend %site-button;

			@include media('<400px') {
				padding-left: rem-calc(12px);
				padding-right: rem-calc(46px);
			}
		}
	}
}
