.openings {
	overflow: hidden;
	position: relative;
	padding-bottom: rem-calc(74px);

	@include media('>phone') {
		padding-bottom: 0;
	}

  @include media ('>tablet') {
    background-color: $color-licorice;
  }

  @include media ('>desktop-medium') {
    top: rem-calc(-32px);
    z-index: 2;
  }

	&__wrapper {
		@extend %site-wrapper;

		max-width: rem-calc(575px);
		padding: rem-calc(55px) rem-calc(14px) rem-calc(68px);

		@include media('>phone') {
			position: relative;
			display: flex;
			align-content: center;
			align-items: center;
			justify-content: space-between;
			max-width: rem-calc(1920px);
			padding: rem-calc(60px) rem-calc(30px) rem-calc(60px) rem-calc(120px);
		}

		@include media('>tablet') {
			padding: rem-calc(80px) rem-calc(60px) rem-calc(85px) rem-calc(160px);
		}

		@include media('>desktop-small') {
			padding: rem-calc(0px 0px 55px 132px);
		}
	}

	&-decoration {
		@extend %text-decoration--left;

		z-index: 2;

		@include media('<=phone-small') {
      &__label {
        color: $color-gray;
  
        &-inner {
          color: $color-gray;
        }
      }
  
      &__number {
        color: $color-gray;
      }
		}

		@include media('>phone') {
			top: 28%;
		}

		&__label {
			@extend %text-decoration__label--dark;

			&-inner {
				@extend %text-decoration__label-inner--dark;
			}
		}

		&__number {
			@extend %text-decoration__number--dark;
		}
	}

	&-header {
		position: relative;
		z-index: 3;
		margin-bottom: rem-calc(51px);

		@include media('>phone') {
			margin-bottom: rem-calc(10px);
		}

		@include media('>tablet') {
			margin-bottom: rem-calc(15px);
		}

		@include media('>desktop-medium') {
			margin-bottom: rem-calc(18px);
		}

		&__subtitle {
			@extend %header__subtitle--dark;

			margin-bottom: rem-calc(15px);
		}

		&__title {
			@extend %header__title--dark;
		}
	}

  &__content__container {
    background-color: $color-white;

    @include media('>tablet') {
      display: flex;
      column-gap: rem-calc(96px);
      padding: rem-calc(32px);
    }

    @include media('>desktop-small') {
      padding: rem-calc(112px);
    }
  }

	&-content {
		margin-bottom: rem-calc(76px);

		@include media('>phone') {
			width: 40%;
			margin-bottom: 0;
		}

		@include media('>desktop-small') {
			width: 35%;
		}

		@include media('>desktop-medium') {
			width: 30%;
		}

		@include media('>desktop-large') {
			width: 25%;
		}

		&__featured {
			@extend %content__featured--dark;

			position: relative;
			z-index: 4;
			margin-bottom: rem-calc(11px);
		}

		&__text {
			position: relative;
			z-index: 4;

			@include media('>phone') {
				margin-bottom: rem-calc(20px);
			}

			@include media('>desktop-small') {
				margin-bottom: rem-calc(30px);
			}

			@include media('>desktop-large') {
				margin-bottom: rem-calc(40px);
			}
		}

		&__button {
			@extend %site-button;

			position: absolute;
			bottom: rem-calc(68px);
			left: 50%;
			z-index: 4;
			transform: translateX(-50%);
			width: rem-calc(270px);
			max-width: 95%;

			@include media('>phone') {
				position: relative;
				bottom: 0;
				left: 0;
				transform: none;
				width: auto;
				max-width: 100%;
			}
		}
	}

	&-listings {
		position: relative;
		z-index: 4;

		@include media('>phone') {
			width: 57%;
		}

		@include media('>desktop-small') {
			width: 60%;
      flex-grow: 1;
		}

		@include media('>desktop-medium') {
			width: 61%;
		}

		@include media('>desktop-large') {
			width: 63%;
		}

		&-header {
			display: none;

			@include media('>phone') {
				display: flex;
				align-items: center;
				align-content: center;
				justify-content: flex-start;
				padding-right: rem-calc(16px);
				padding-left: rem-calc(10px);
				padding-bottom: rem-calc(15px);
			}

			@include media('>desktop-small') {
				padding-left: rem-calc(20px);
				padding-right: rem-calc(19px);
				padding-bottom: rem-calc(16px);
			}

			@include media('>desktop-medium') {
				padding-left: rem-calc(30px);
				padding-right: rem-calc(22px);
				padding-bottom: rem-calc(18px);
			}

			@include media('>desktop-large') {
				padding-left: rem-calc(40px);
				padding-right: rem-calc(26px);
				padding-bottom: rem-calc(22px);
			}

			&__title {
				font-size: rem-calc(10px);
				font-family: $font-forza;
				font-weight: 700;
				letter-spacing: 0.13px;
				color: $color-pumpkin;
				text-transform: uppercase;

				&:nth-child(1) {
					@include media('>phone') {
						width: 37%;
					}
				}

				&:nth-child(2),
				&:nth-child(3) {
					text-align: center;

					@include media('>phone') {
						width: 25%
					}
				}
			}
		}
	}

	&-list {
		position: relative;
		margin-bottom: 0;


		&__item {
			@extend %link-list__item;
		}

		&__link {
			@extend %link-list__link--arrow-btn;

			position: relative;
			flex-wrap: wrap;

			@include media('>phone') {
				justify-content: flex-start;
				padding-top: rem-calc(20px);
				padding-bottom: rem-calc(20px);
			}

			@include media('>desktop-small') {
				padding-top: rem-calc(30px);
				padding-bottom: rem-calc(30px);
			}

			@include media('>desktop-large') {
				padding-top: rem-calc(40px);
				padding-bottom: rem-calc(40px);
			}
		}

		&__position,
		&__location,
		&__duration {
			&::before {
				margin-bottom: 7px;
			}
		}

		&__position {
			@extend %link-list__title--main;

			width: 100%;
			margin-bottom: rem-calc(18px);

			@include media('>phone') {
				width: 37%;
				margin-bottom: 0;
			}

			&::before {
				content: 'Position';
			}
		}

		&__location,
		&__duration {
			@extend %link-list__title--secondary;

			width: 50%;

			@include media('>phone') {
				width: 25%
			}
		}

		&__location {
			&::before {
				content: 'Location';
			}
		}

		&__duration {
			&::before {
				content: 'Duration';
			}
		}
	}
}
