.testimonials {
	@extend %content__area--dark;

	position: relative;
	overflow: hidden;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		width: 50%;
		height: 100%;
		background-color: $color-slate;
	}

	&::after {
		@include media('>phone') {
			content: '';
			display: block;
			position: relative;
			z-index: 4;
			width: 100%;
			height: rem-calc(60px);
			background-color: $color-slate;
		}

		@include media('>tablet') {
			height: rem-calc(80px);
		}

		@include media('>desktop-small') {
			height: rem-calc(100px);
		}

		@include media('>desktop-medium') {
			height: rem-calc(120px);
		}

		@include media('>desktop-large') {
			height: rem-calc(138px);
		}
	}

	&__wrapper {
		@extend %site-wrapper;

		position: relative;
		padding-top: rem-calc(60px);
		padding-bottom: rem-calc(74px);

		@include media('>tablet') {
			padding: rem-calc(70px) rem-calc(60px) rem-calc(120px);
		}

		@include media('>desktop-small') {
			padding: rem-calc(90px) rem-calc(80px) rem-calc(160px);
		}

		@include media('>desktop-medium') {
			padding: rem-calc(110px) rem-calc(100px) rem-calc(200px);
		}

		@include media('>desktop-large') {
			padding: rem-calc(130px) rem-calc(120px) rem-calc(230px);
		}

		@include media('>desktop-xlarge') {
			padding: rem-calc(150px) rem-calc(146px) rem-calc(250px);
		}
	}

	&-large-decoration {
		@extend %text-decoration__large--right;

		top: rem-calc(730px);
		right: rem-calc(26px);
		z-index: 2;

		@include media('>phone-small') {
			top: rem-calc(684px);
		}

		@include media('>phone') {
			top: rem-calc(688px);
			right: rem-calc(115px);
		}

		@include media('>tablet') {
			top: rem-calc(774px);
			right: rem-calc(125px);
		}

		@include media('>desktop-small') {
			top: rem-calc(948px);
			right: rem-calc(155px);
		}

		@include media('>desktop-medium') {
			top: rem-calc(1046px);
			right: rem-calc(165px);
		}

		@include media('>desktop-large') {
			top: rem-calc(1152px);
			right: rem-calc(170px);
		}

		@include media('>desktop-xlarge') {
			top: rem-calc(1195px);
			right: rem-calc(173px);
		}

		&__text {
			@extend %text-decoration__large-label--dark;

			font-size: rem-calc(72px);

			@include media('>phone-small') {
				font-size: rem-calc(67px);
			}

			@include media('>phone') {
				font-size: rem-calc(68px);
			}

			@include media('>tablet') {
				font-size: rem-calc(76px);
			}

			@include media('>desktop-small') {
				font-size: rem-calc(94px);
			}

			@include media('>desktop-medium') {
				font-size: rem-calc(104px);
			}

			@include media('>desktop-large') {
				font-size: rem-calc(114px);
			}

			@include media('>desktop-xlarge') {
				font-size: rem-calc(118px);
			}
		}
	}

	&-decoration {
		@extend %text-decoration--right;

		z-index: 2;

		@include media('<=phone') {
			top: 19%;
			right: 99%;
		}

		@include media('<=600px') {
			right: 98%;
		}

		@include media('>phone') {
			top: 20%;
		}

		&__label {
			@extend %text-decoration__label--dark;

			&-inner {
				@extend %text-decoration__label-inner--dark;
			}
		}

		&__number {
			@extend %text-decoration__number--dark;

			@include media('<=phone') {
				color: $color-licorice;
			}
		}
	}

	&-header {
		position: relative;
		z-index: 4;
		text-align: center;
		margin-bottom: rem-calc(47px);

		@include media('>tablet') {
			margin-bottom: rem-calc(70px);
		}

		@include media('>desktop-small') {
			margin-bottom: rem-calc(90px);
		}

		@include media('>desktop-medium') {
			margin-bottom: rem-calc(110px);
		}

		@include media('>desktop-large') {
			margin-bottom: rem-calc(130px);
		}

		@include media('>desktop-xlarge') {
			margin-bottom: rem-calc(150px);
		}

		&__subtitle {
			@extend %header__subtitle--light;

			margin-bottom: rem-calc(15px);

			@include media('>desktop-small') {
				margin-bottom: rem-calc(18px);
			}

			@include media('>desktop-medium') {
				margin-bottom: rem-calc(20px);
			}

			@include media('>desktop-large') {
				margin-bottom: rem-calc(24px);
			}
		}

		&__title {
			@extend %header__title--light;
		}
	}

	&-carousel {
		position: relative;
		z-index: 4;
        width: 100%;
        max-width: 100%;
		margin-bottom: rem-calc(31px);

		&__item {
      background-color: $color-white;
			position: relative;
			margin: rem-calc(15px) 7px;
			text-align: center;
			padding: rem-calc(47px) rem-calc(15px) rem-calc(25px);

			@include media('>499px') {
				padding-left: rem-calc(60px);
				padding-right: rem-calc(60px);
			}

			@include media('>tablet') {
				padding-left: rem-calc(20px);
				padding-right: rem-calc(20px);
			}

			@include media('>desktop-small') {
				padding-left: rem-calc(30px);
				padding-right: rem-calc(30px);
				margin-left: rem-calc(12px);
				margin-right: rem-calc(12px);
			}

			@include media('>desktop-medium') {
				padding-left: rem-calc(40px);
				padding-right: rem-calc(40px);
				margin-left: rem-calc(25px);
				margin-right: rem-calc(25px);
			}

			@include media('>desktop-large') {
				padding: rem-calc(56px) rem-calc(50px) rem-calc(30px);
				margin-left: rem-calc(30px);
				margin-right: rem-calc(30px);
			}

			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 50%;
				z-index: 4;
				transform: translate(-50%, -30%);
				width: rem-calc(32px);
				height: rem-calc(40px);
				background-image: url('../images/testimonials/quotes-icon.svg');
				background-position: center top;
				background-size: contain;
				background-repeat: no-repeat;

				@include media('>desktop-small') {
					width: rem-calc(41px);
					height: rem-calc(33px);
					transform: translate(-50%, -65%);
				}
			}
		}

		&__picture {
			@extend %site-picture;

			width: rem-calc(71px);
			height: rem-calc(71px);
			margin-left: auto;
			margin-right: auto;
			margin-bottom: rem-calc(25px);

			@include media('>tablet') {
				width: rem-calc(78px);
				height: rem-calc(78px);
			}

			@include media('>desktop-small') {
				width: rem-calc(86px);
				height: rem-calc(86px);
			}

			@include media('>desktop-medium') {
				width: rem-calc(102px);
				height: rem-calc(102px);
			}

			@include media('>desktop-large') {
				width: rem-calc(117px);
				height: rem-calc(117px);
				margin-bottom: rem-calc(30px);
			}
		}

		&__image {
			@extend %image__cover;
		}

		&__quote {
			font-family: $font-open_sans;
			font-weight: 600;
			font-style: italic;
			font-size: rem-calc(12px);
			letter-spacing: 0.45px;
			line-height: 1.35;
			color: $color-mediumgray;
			margin-bottom: rem-calc(17px);

			@include media('>desktop-small') {
				font-size: rem-calc(14px);
				letter-spacing: 0.53px;
				line-height: 1.5;
				margin-bottom: rem-calc(22px);
			}

			@include media('>desktop-medium') {
				margin-bottom: rem-calc(30px);
			}

			@include media('>desktop-large') {
				margin-bottom: rem-calc(38px);
			}

			&::before,
			&::after {
				display: none;
			}
		}

		&-author {
			&__name {
				display: block;
				color: $color-mediumgray;
				font-family: $font-druk-wide;
				font-size: rem-calc(14px);
				letter-spacing: 0.39px;
				line-height: 1.15;
				margin-bottom: 5px;

				@include media('>desktop-small') {
					font-size: rem-calc(16px);
					letter-spacing: 0.5px;
				}

				@include media('>desktop-medium') {
					font-size: rem-calc(18px);
				}
			}

			&__job-title {
				display: block;
				font-family: $font-forza;
				font-weight: 700;
				font-size: rem-calc(10px);
				letter-spacing: 0.13px;
				color: $color-pumpkin;
				text-transform: uppercase;
				margin-bottom: rem-calc(18px);

				@include media('>desktop-small') {
					font-size: rem-calc(12px);
					letter-spacing: 0.15px;
					margin-bottom: rem-calc(26px);
				}

				@include media('>desktop-medium') {
					margin-bottom: rem-calc(34px);
				}

				@include media('>desktop-large') {
					margin-bottom: rem-calc(42px);
				}
			}

			&__signature.testimonials-carousel-author__signature {
				display: block;
				width: rem-calc(125px);
				margin-left: auto;
				margin-right: auto;

				@include media('>desktop-small') {
					width: rem-calc(155px);
				}
			}
		}
	}

	&-carousel-nav {
		position: relative;
		z-index: 4;
		width: 92%;
		max-width: rem-calc(350px);
		margin-left: auto;
		margin-right: auto;

		@include media('>tablet') {
			display: none;
		}

		&__buttons {
			width: 100%;
			display: flex;
			align-items: center;
			align-content: center;
			justify-content: space-between;

			&--previous {
				@extend %carousel-nav-button--prev;
			}

		     &--next {
				@extend %carousel-nav-button--next;
			}
		}

        &__pagination-count {
			@extend %pagination-count;

			&--total {
				@extend %pagination-count--total
			}
		}
	}
}


/** Remove These Fixes **/
.testimonials-carousel {
	position: relative;
	left: 50%;
	z-index: 4;
	transform: translateX(-51%);
	width: 263%;
	max-width: rem-calc(1500px);

	@include media('>tablet') {
		left: 0;
		transform: none;
		width: 100%;
		max-width: 100%;
	}

	.testimonials-carousel__item.glide__slide--active {
		transform: scale(1);
	}

	&__item {
		@include media('<=tablet') {
			transform-origin: center;
			transition: 0.35s ease transform;
			transform: scale(0.92);
		}
	}
}
